


# packages to facilitate quarto execution of IPYNB notebooks, with execute: true
# ... or if you use jupyter: python3 to execute python inside code blocks in your .qmd file
jupyter


# cached execution:
# https://quarto.org/docs/projects/code-execution.html#cache
jupyter-cache


# packages required by any python code / notebooks:
requests
#numpy
pandas
openpyxl # for pandas.read_excel function
#matplotlib
seaborn
plotly
statsmodels==0.14.2 # used by plotly for trendline parameter
scipy==1.14.0
scikit-learn==1.3.2 # match colab environment
joblib

ucimlrepo
palmerpenguins

pandas_datareader
yahooquery
yfinance
